<form
  [formGroup]="reactiveForm"
  (ngSubmit)="onSubmit()"
  style="min-width: 500px;padding: 20px"
>
  <div class="form-group m-2">
    <label> First Name: </label>
    <input type="text" class="form-control" formControlName="firstName" />
  </div>
  <div class="form-group m-2">
    <label> Last Name: </label>
    <input type="text" class="form-control" formControlName="lastName" />
  </div>
  <div class="form-group m-2">
    <label> Email: </label>
    <input type="email" class="form-control" formControlName="email" />
  </div>
  <div class="form-group m-2">
    <label> Gender: </label>
    <select formControlName="gender" class="form-control">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-primary m-2"
    [disabled]="!reactiveForm.valid"
  >
    Submit
  </button>
</form>
